body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.cart {
    width: 300px;
    height: 400px;
    position: relative;
    margin: 40px;
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.2);
    overflow: hidden;
    cursor: pointer;
}

.cart img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    backdrop-filter: blur(15px);
    border: 1px solid rgba(255,255,255,0.2);
    box-shadow: 0 -10px 10px rgba(0,0,0,0.1);
    transform: translateY(100%);
    transition: transform 0.5s linear;
    transition-delay: 0.8s;
}

.cart:hover .content {
    transform: translateY(0);
    transition-delay: 0s;
}

.cart:hover .content h3 {
    transform: translateY(0);
    opacity: 1;
}

.cart:hover .social i {
    transform: translateY(0);
    opacity: 1;
}

.content h3 {
    text-align: center;
    text-transform: uppercase;
    color: #ccc;
    opacity: 0;
    transform: translateY(-15px);
    transition: all 0.6s linear;
    transition-delay: 0.5s;
}

.content h3 span {
    text-transform: capitalize;
    font-size: 1rem;
}

.social {
    text-align: center;
    margin-top: 15px;
}

.social i {
    margin: 0 10px;
    color: white;
    font-size: 30px;
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.5s linear;
    transition-delay: calc(var(--dl) * 0.2s);
}